.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    height: 3px;
    width: 24px;
    background: $main;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
