.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__title {
  display: block;
  width: 100%;
  max-width: 467px;
  font-size: 64px;
  font-weight: 900;
  background-image: linear-gradient(166deg, #4e74ff -3%, #2046d1 118%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 92px;
  @include tablets {
    font-size: 54px;
  }
}


.content__calendar {
  width: 350px;
  height: 460px;
  opacity: 0.92;
  border-radius: 10px;
  background-color: #42444d;
}