.footer {
  padding: 0 45px;
  @include phones {
    padding: 0 25px;
  }
}

.footer__rights {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.9;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.3px;
  text-align: right;
  font-family: 'Open Sans';
  @include phones {
    font-size: 8px;
  }
}

.footer__rights span {
  text-decoration: underline;
  font-weight: bold;
}