/* ==========================================================================
   Base
   ========================================================================== */

* {
  font-family: 'Open Sans', sans-serif;
}

/* Body
   ========================================================================== */

   html, body {
        &.blocked {
            overflow: hidden;
        }
    }

    html {
        -webkit-overflow-scrolling: touch;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }


/* Selection
   ========================================================================== */

    ::selection {
        background: #fff;
        color: #000;
    }
